     *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
     }
     html , body{
        width: 100%;
        height: 100%;
        font-family: Arial, Helvetica, sans-serif;
    }
    .box{
        width: 96%;
        height: 80%;
     margin-left: 2%;
     margin-top: 2%;
     border-radius: 5vh;
        background-color: #f3f3f3;
    }
    nav{
        display: flex;
        justify-content: space-between;
        /* margin-bottom: 15%; */
    }
    .navleft{
        display: flex;
    }
    nav > .navleft {
        display: flex;
        align-items: center;
        
        margin: 2%  2%;
        background-color: white;
        width: 25%;
        height: 8vh;
        font-size: 5vh;
        border-radius: 4vh;

    }
    nav > .navleft span , .navright span {
        font-size: 3vh;
        padding: 1.5vh;
      font-weight: 600;
       
    }
    nav > .navleft i{
        font-size: 7vh;
    }

 .navright{
        display: flex;
        align-items: center;
        margin: 2%  2%;
        background-color: white;
        width: 27%;
        font-size: 5vh;
        border-radius: 4vh;
        height: 8vh;
    }
    .navright span {
        margin-left: 2vh;
    }
    .view{
        margin-top: 0.1vh;
        background-color: black;
        height: 6vh;
        /* margin: 1.5vh; */
        color: white;
        border-radius: 4vh;
        margin-left: 2vh;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .view span{
        font-weight: 100;
        font-size: 2.3vh;
    }
    .box-in{
        display: flex;
        width: 100%;
    }
    .left{
        margin-top: 18%;
        width: 50%;
        height: 100%;
    }

    .left p{
        font-size: 2vh;
        margin-left: 4%;
        margin-bottom: 1%;
    }
    .left h1{
        margin-left: 2%;
        font-size: 13vh;
        font-weight: 100;
        line-height: 12vh;

    }
    .right{
        width: 50%;
        height: 100%;
    }
    .right  img{
        margin-top: 10%;
        height: 53vh;
    }

    .box2{
        width: 100%;
        height: 55%;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box2 h1{
        text-align: center;
        font-size: 9vh;
        font-weight: 500;
        line-height: 9vh;
    }
    .box2 img{
        border: 1px solid black;
        height: 7vh;
        border-radius: 50%;
    }
    .box2 .im{
       border-radius: 90%;
       width: 4vw;
    }

    .box3{
        width: 100%;
        height: 90%;
        display: flex;
        
    }
    .box3 .box3L{
        width: 35%;
       
    }
    .box3 .box3L img{
        margin-left: 15%;
        border: 0.2vh solid cadetblue;
        height: 73vh;
        width: 75%;
        border-radius: 8%;
    }
    .box3 .box3R{
        width: 63%;
    }
    .box3 .line1 , .line2 , .line3{
        display: flex;
        justify-content: space-between;
        border-bottom: 0.2vh solid #f0f0f0;

    }
    .box3  h1{
        padding: 4vh 0;
        font-size: 3vh;
        font-weight: 570;
        
    }
    .box3  p{
        padding: 4vh;
    }
    .box3 i{
        border: 0.3vh solid #e1dede;
        border-radius: 50%;
        font-weight: 100;
        font-size: 5vh;
        margin-right: 2vh;
    }
    .box3R-d{
        width: 100%;
        height: 37%;
        display: flex;
   
    }
    .box3R-d .dL{
        width: 50%;
        
    }
    .box3R-d .dL h2{
        font-size: 2.8vh;
        margin-top: 40%;
        font-weight: 300;
        
    }
    .box3R-d .dR{
        width: 50%;
        display: flex;
        justify-content: right;
        align-items: end;
    }
    .box3R-d .dR .container{
        width: 56%;
        height: 85%;
        background-color: #00c66f;
        border-radius: 5vh;
    }
    .container h2{
        font-size: 6vh;
        color: white;
        margin-left: 4vh;
        margin-top: 15%;
        margin-bottom: 10%;
    }
    .container p{
        font-size: 2vh;
        color: white;
        font-weight: 100;
    }
    
    
  
    
    
  